<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
<!-- Navbar -->
        {{> nav_character}}
    <!-- End Navbar -->

    <div class="container-fluid py-4">

      <div class="row">
        <div class="col-12">
          <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                <h6 class="text-white text-capitalize ps-3">Danh sách trang phục</h6>
              </div>
            </div>
            <div class="card-body px-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center justify-content-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Tên sản phẩm</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Giá trang phục</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Điểm số</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Thông tin về trang phục</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
{{#each character}}
                    <tr>
                      <td>
                        <div class="d-flex px-2">
                          <div>
                            <img src="{{this.image}}" width="90px" height="80px">
                          </div>
                          <div class="my-auto">
                            <h6 class="mb-0 text-sm ms-2">{{this.name}}</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <p class="text-dark">{{this.price}}</p>
                      </td>
                      <td>
                        <p class="text-dark">{{this.point}}</p>
                      </td>
                      <td>
                        <textarea name="" id="" cols="30" rows="3" class="bg-transparent border border-top-0 border-end-0 border-bottom-0 border-start-0" disabled>{{this.describes}}</textarea>
                      </td>
                      <td class="align-middle">
                        <button onclick="edit('{{this._id}}')" class="btn-info btn btn-outline-info btn-sm btn-block mb-2" type="button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                        </svg></button>

                        <button onclick="profile('{{this._id}}')" class="btn-info btn btn-outline-info btn-sm btn-block mb-2"  data-toggle="modal" data-target="#confirmModal">
                        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M15.5,12C18,12 20,14 20,16.5C20,17.38 19.75,18.21 19.31,18.9L22.39,22L21,23.39L17.88,20.32C17.19,20.75 16.37,21 15.5,21C13,21 11,19 11,16.5C11,14 13,12 15.5,12M15.5,14A2.5,2.5 0 0,0 13,16.5A2.5,2.5 0 0,0 15.5,19A2.5,2.5 0 0,0 18,16.5A2.5,2.5 0 0,0 15.5,14M10,4A4,4 0 0,1 14,8C14,8.91 13.69,9.75 13.18,10.43C12.32,10.75 11.55,11.26 10.91,11.9L10,12A4,4 0 0,1 6,8A4,4 0 0,1 10,4M2,20V18C2,15.88 5.31,14.14 9.5,14C9.18,14.78 9,15.62 9,16.5C9,17.79 9.38,19 10,20H2Z" />
                        </svg></button>
                      </td>
                    </tr>
{{/each}}
                  </tbody>  
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

  </main>