  <div class="main-content position-relative max-height-vh-100 h-100">
    <!-- Navbar -->
      {{> nav_weapons}}
    <!-- End Navbar -->
    <div class="container-fluid px-2 px-md-4">
      <div class="page-header min-height-300 border-radius-xl mt-4" style="background-image: url('https://images.unsplash.com/photo-1531512073830-ba890ca4eba2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1920&q=80');">
        <span class="mask  bg-gradient-primary  opacity-6"></span>
      </div>
      <div class="card card-body mx-3 mx-md-4 mt-n6">

          <form class="row g-0" method="post" action="/admin/weapons/information/{{weapons._id}}/post" enctype="multipart/form-data">
            <div class="col-md-4 border text-center text-white"
              style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
              <div class="form-group" style="display: flex; flex-direction: column; align-items: center;"><br>
            <label>Hình ảnh</label> <br> <br>
            <img src="{{weapons.image}}" width="300" height="200" id="image-view"
                  style="object-fit: cover; align-items: center;"/> <br>
              <input onchange="onChangeFile();" type="file" name="image" id="image-file">
                
          </div>
            </div>
            <div class="col-md-8">
              <div class="card-body p-4">
                <label for="" class="fw-bold text-dark fs-5">Information: </label> <input type="text" value="{{weapons.name}}" name="name" id="name" required> 
                <div class="row pt-1">
                  <div class="col-12 mb-3">
                    <textarea name="describes" class="text-muted col-12" id="" cols="30" rows="2" required>{{weapons.describes}}</textarea>
                  </div>
                </div>
                <div class="row pt-1">
                  <div class="col-12 mb-3">
                    <h6>Dame</h6>
                    <input type="text" value="{{weapons.dame}}" name="price" required>
                  </div>
                </div>
                <div class="row pt-1">
                  <div class="col-12 mb-3">
                    <h6>Point</h6>
                    <input type="text" value="{{weapons.point}}" name="point" required>
                  </div>
                </div>
                

                <div class="row pt-1">
                  <div class="col-12 mb-3">
                    <h6>Xác nhận: </h6>
                    <button type="submit" class="btn btn-success">Đồng ý</button>
                  </div>
                </div>
                <div class="d-flex justify-content-start">
                  <a href="#!"><i class="fab fa-facebook-f fa-lg me-3"></i></a>
                  <a href="#!"><i class="fab fa-twitter fa-lg me-3"></i></a>
                  <a href="#!"><i class="fab fa-instagram fa-lg"></i></a>
                </div>
              </div>
            </div>
          </form>

      </div>
    </div>
  </div>